div {
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    border-bottom-color:aqua ;
    border-left-style: dotted;
    border-radius: 10px 200px/ 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 20px;  /* for all side */
    /* for shorthand */
    margin-top: 20;
    
}

