h1 {
    text-decoration: underline;
}

h2 {
    text-decoration: dashed;

}

h3 {
    text-decoration: line-through;
}

h4 {
    text-decoration: overline;
}

h5 {

    text-decoration: solid;
}

h6 {
    text-decoration:dotted;
}