#container {
    height: 400px;
    width: 400px;
    /* text-align: center; */
    text-size-adjust: 20px;
    border: 2px solid aqua;
    border-radius: 10px;
    display:flex ;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
}

.div {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    background-color: grey;
}