* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main_box {
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Makes it take full viewport height */
    width: 100%;
}

.btn_one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    line-height: 60px;
}

.sidebar_menu {
    position:fixed ;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height:58px ;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}
.sidebar_menu .logo a {
    position: absolute;
    left: 55px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two {
    color: gray;
    font-size: 25px;
    line-height: 70px;
    position: absolute;
    left: 275px;
    cursor: pointer;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
    
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding:14px 20px ;
}

.sidebar_menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 10px;
}

.sidebar_menu .social_media{
    color:white ;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 20px;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.btn_one i:hover {
    font-size: 40px;
}

.btn_two i:hover {
    font-size: 30px;
}

.sidebar_menu .social_media:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}