.box{
    height: 60px;
    width: 120px;
    background-color: red;


    /* animation */
    /* animation-name: widthanimation;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
    animation-delay:0;
    animation-iteration-count: 10;
    animation-direction: alternate; */

    /* Animation shorthand */
    animation: percentageanimation 2s ease-out 0s infinite normal;
}


@keyframes textanimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 35px;
    }
}

@keyframes coloranimation{
    from {
        background-color: wheat;
    }
    to {
        background-color: red;
    }
}

@keyframes widthanimation{
    from {
        width: 30px;
        background-color: black;
        border-radius: 10px;
    }
    to {
        width: 150px;
        background-color: wheat;
        border-radius: 50%;
    }
}

@keyframes percentageanimation {
    0% {
        background-color: green;
    }
    10% {
        background-color: rgb(215, 44, 44);
    }
    20% {
        background-color: rgb(198, 188, 46);
    }
    30% {
        background-color: rgb(22, 208, 189);
    }
    40% {
        background-color: rgb(104, 194, 104);
    }
    50% {
        background-color: green;
    }
    60% {
        background-color: rgb(0, 153, 255);
    }
    70% {
        background-color: rgb(124, 38, 216);
    }
    80% {
        background-color: rgb(232, 16, 232);
    }
    90% {
        background-color: rgb(211, 66, 88);
    }
    100% {
        background-color: rgb(214, 127, 127);
    }
}

/* Media Queries */
@media (min-width: 400px){
    h1 {
        background-color:red ;
    }
}

@media (orientation: landscape){
    background-color: white;
}