.container {
    height: 500px;
    width: 500px;
    background-color: aqua;
    border: 4px solid black;
    display:inline-grid;

    /* Grid Template */

    /* grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: auto; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    
    /* grid gap */
    /* row-gap: 5px;
    column-gap: 5px; */
    grid-gap: 10px 10px;

    justify-items: center;  /* will work on horizontal allignment */
    align-items: center;
    /* place-items: center: we can alsouse it*/

}

.box{
    height: 50px;
    width: 70px;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
    justi
    
}


/* Grid row\column start and grid row\column end */
.one{
    /* grid-column-start: 1;
    grid-column-end:3 ; */
    /* grid-column: 1/3; */
    grid-column: 1 / span 3;
    grid-row-start:1 ;
    grid-row-end: 3;

    justify-self: center;
}