#container {
    height: 500px;
    width: 600px;
    background-color: ghostwhite;
    margin: 2px ;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#container div {
    height: 100px;
    width: 90px;
}