#container {
    height: 500px;
    width: 300px;
    background-color: ghostwhite;
    margin: 2px ;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;

}

#container div {
    height: 50px;
    width: 100px;
}