#container {
    height: 600px;
    width: 60%;
    background-color: ghostwhite;
    margin: 10px auto ;
    border: 2px solid black;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

}

#org{
    align-self: flex-start;
    flex: 2 2 100px;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    flex: 2 2 100px;
}