#container {
    height: 500px;
    width: 600px;
    background-color: ghostwhite;
    margin: 2px ;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-direction: row; */
}

#container div {
    height: 10px;
    width: 90px;
}