.container {
    height: 640px;
    width: 720px;
    background-color: pink;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: (12, 1fr);
    grid-template-rows: (12, 1fr);
}

.container div {
    background-color: pink;
    font-size: 1.5rem;
}

.header {
    grid-column: 1 / span 12;
    
}

.sidebar {
    grid-column: 1 / span 3;
    grid-row: 2 / span 10;
}

.navigation {
    grid-column: 4 / span 6;
    
}

.main {
    grid-column: 4 / span 6;
    grid-row: 2 / span 10;
}

.ads {
    grid-column:10 / span 3 ;
    grid-row: 2 / span 10;
}

.footer {
    grid-column:1 / span 12 ;
}