body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adds space between elements */
  justify-content: center;
}

.box {
    height: 80px;
    width: 700px;
    text-align: center;
    border: 1px solid black;
    margin: auto;
}